html {
  font-size: 62.5%;
}

body {
  font-family: fantasy;
}

button {
  height: 45px;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  background-color:#00DFD0;
  border: 2px solid black;
  cursor: pointer;
  margin: 10px;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
  color: black;
}

.Header {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: silver;
  color: black;
  min-width: 840px;
}

.HomePage{
  min-width: 840px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

.Links {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-width: 840px;
  color: black;
}

.HomeLink{
  color: black;
}

.DropMenu{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: black;
}

.Help{
  color: black;
}

.List {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 50%;
  font-family: Arial;
  font-size: 20px;
  color: black;
  background-color: white;
  min-width: 840px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.ListTop{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Arial;
  font-size: 25px;
  color: black;
  font-weight: bold;
  background-color: silver;
  border: 2px solid black;
  height: 60px;
  min-width: 800px;
}

.ListTopLabels{
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bolder;
}

.Item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  min-width: 800px;
  font-family: Arial;
  font-size: 20px;
  background-color: white;
}

.ListItemLeft{
  padding-left: 20px;
  text-align: left;
}

.AssetContribution{
  color:#EC51AD;
}

.ListItemRight{
  padding-right: 20px;
}

.ItemLink{
  color: black;
  text-decoration: none;
}

.ADList {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 50%;
  font-family: Arial;
  font-size: 20px;
  color: black;
  background-color: white;
  min-width: 700px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.ADListTop{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Arial;
  font-size: 25px;
  color: black;
  font-weight: bold;
  background-color: silver;
  border: 2px solid black;
  height: 60px;
  min-width: 700px;
}

.ADItem{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  min-width: 700px;
  font-family: Arial;
  font-size: 20px;
  background-color: white;
}

.Dashboard{
  margin-top: 10px;
  min-width: 840px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.InputForm{
  margin-top: 10px;
  min-width: 840px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.SearchTextBox{
  height: 45px;
  min-width: 300px;
  font-family: Arial;
  font-size: 20px;
  margin-right: 20px;
  margin-top: 3px;
  border: 2px solid black;
  background-color: #00DFD0;
}

.SortBySelector{
  height: 50px;
  font-family: Arial;
  font-size: 20px;
  background-color: #00DFD0;
  font-weight: bold;
  margin-right: 20px;
  border: 2px solid black;
}

.AddEditPage{
  min-width: 840px;
  flex-shrink: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.AddEditTitle{
  font-size: 40px;
  margin-bottom: 10px;
}

.DescriptionInput{
  height: 45px;
  min-width: 300px;
  font-family: Arial;
  font-size: 20px;
  margin-right: 20px;
  margin-top:10px;
  margin-bottom: 10px;
  border: 2px solid black;
  background-color: #00DFD0;
}

.DebtDescriptionInput{
  height: 45px;
  min-width: 300px;
  font-family: Arial;
  font-size: 17px;
  margin-right: 20px;
  margin-top:10px;
  border: 2px solid black;
  background-color: #00DFD0;
}

.AmountInput{
  height: 45px;
  min-width: 100px;
  font-family: Arial;
  font-size: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  border: 2px solid black;
  background-color: #00DFD0;
}

.FromAccountInput{
  height: 45px;
  min-width: 300px;
  font-family: Arial;
  font-size: 20px;
  margin-right: 20px;
  border: 2px solid black;
  background-color: #00DFD0;
}

.ToAssetInput{
  height: 45px;
  min-width: 300px;
  font-family: Arial;
  font-size: 20px;
  margin-right: 20px;
  border: 2px solid black;
  background-color: #00DFD0;
}

